<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363844959542-m9alr6h348mdmbs14hrtmd3j095p6a1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363844959542-m9alr6h348mdmbs14hrtmd3j095p6a1a</string>
	<key>API_KEY</key>
	<string>AIzaSyDBHXj9WVS1sZEeGDqInvc4Xi1qtO--KoI</string>
	<key>GCM_SENDER_ID</key>
	<string>363844959542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Saad-Sherif.Uber-Clone</string>
	<key>PROJECT_ID</key>
	<string>uber-clone-9ffab</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-clone-9ffab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363844959542:ios:1f453a5794ee814029c797</string>
</dict>
</plist>